NEXT_PUBLIC_API_URL="http://localhost:8000"
NEXT_PUBLIC_ISSUER_REGISTRY_ADDRESS=""
NEXT_PUBLIC_ANCHOR_CONTRACT_ADDRESS=""
NEXT_PUBLIC_REVOCATION_CONTRACT_ADDRESS=""
NEXT_PUBLIC_VERIFICATION_GATEWAY_ADDRESS=""
